{% extends 'website/base.html' %}
{% load static %}


{% block main %}
<nav class="navbar navbar-expand-lg navbar-light bg-info row ">
        <a class="navbar-brand" href="{% url 'website_home' %}">
            <img src="{% static 'img/parking.png'%}" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-pills">
                <a class="nav-item nav-link active  text-white" href="{% url 'website_home' %}" class="linksmenu">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link  text-white" href="{% url 'website_servicos' %}" class="linksmenu">Serviços</a>
                <a class="nav-item nav-link  text-white" href="{% url 'website_sobre' %}" class="linksmenu">Sobre</a>
                <a class="nav-item nav-link  text-white" href="{% url 'website_planos' %}" class="linksmenu">Planos</a>
                <a class="nav-item nav-link text-white" href="{% url 'website_contato' %}" class="linksmenu">Contatos</a>
                <a class="nav-item nav-link  text-white" href="{% url 'core_home' %}" class="linksmenu">Sistema</a>
            </div>
        </div>
    </nav>

<div class="row row-space">
    <div class="col-sm-6 ">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
    </div>
    <div class="col-sm-6  ">
        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!! Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>
</div>


<div class="row row-space">
    <div class="col-sm-4 ">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
    </div>
    <div class="col-sm-4">
        <img src="{% static 'img/barrier.png'%}" alt=" Imagem Moto Parada" class="img-moto img-thumbnail img-fluid">
    </div>
    <div class="col-sm-4">
        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!! Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>
</div>

<div class="row row-space">
    <div class="col-sm-6">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
    </div>
    <div class="col-sm-6">
        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!! Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>
</div>
{% endblock main %}