<div class="row ">
    <div class="col-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'website_home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_servicos' %}">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_contato' %}">Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sistema</a>
            </li>
        </ul>
    </div>
</div>