{% extends 'website/base.html' %}
{% load static %}


{% block main %}
<div class="row p-3 mb-2 bg-info text-white">
    <div class="col-6">
        <h1 class="titulo">Estacionamento 24 horas</h1>
        <span class="subtitulo">Slogan Estacionamento</span>
    </div>
    <div class="col-6">
        <img src="{% static 'img/parking.png'%}" alt=" Imagem Estacionamento 24 horas" class="logo img-fluid">
    </div>
    <div class="col-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class=" text-white nav-link" href="{% url 'website_home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class=" text-white nav-link " href="{% url 'website_servicos' %}">Serviços</a>
            </li>
            <li class="nav-item">
                <a class=" text-white nav-link " href="{% url 'website_sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
                <a class=" text-white nav-link active" href="{% url 'website_planos' %}">Planos</a>
            </li>
            <li class="nav-item">
                <a class=" text-white nav-link" href="{% url 'website_contato' %}">Contatos</a>
            </li>
            <li class="nav-item">
                <a class=" text-white nav-link" href="{% url 'core_home' %}">Sistema</a>
            </li>
        </ul>

    </div>
</div>


<div class="row  row-space">
    <div class="col-12">
        <h1>Plano Carro</h1>
    </div>


</div>
<div class="row row-space">
    <div class="col-8">

        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.

        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!! Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>
    <div class="col-4">
        <img src="{% static 'img/carro.jpg' %}" alt="locadl do estacionamento" class="img-fluid">
    </div>
</div>
<div class="row row-space">
    <div class="col-10">

    </div>
    <div class="col-2">
            <a href="{% url 'website_contato' %}"><button type="button" class="btn btn-outline-success btn-lg " >Contratar</button></a>
    </div>
</div>


<div class="row  row-space">
    <div class="col-12">
        <h1>Plano Moto</h1>
    </div>
</div>


<div class="row row-space">
    <div class="col-8">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra
        coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu,
        heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.

        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!!
        Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na
        sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>


    <div class="col-4">
        <img src="{% static 'img/moto.jpg' %}" alt="locadl do estacionamento" class="img-fluid">
    </div>
</div>


<div class="row row-space">
    <div class="col-10">

    </div>
    <div class="col-2">
            <a href="{% url 'website_contato' %}"><button type="button" class="btn btn-outline-success btn-lg " >Contratar</button></a>
    </div>
</div>

<div class="row  row-space">
        <div class="col-12">
            <h1>Plano Carro e Moto</h1>
        </div>
    </div>


<div class="row row-space">
    <div class="col-8">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai
        matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra
        coral
        subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu,
        heinn!
        danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.

        Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!!
        Txu
        Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na
        sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o
        papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na
        sacanagem!!!!
        Venha provar do meu dendê Tu du du pááá!.
    </div>
    <div class="col-4">
        <img src="{% static 'img/carro-moto.jpg' %}" alt="locadl do estacionamento" class="img-fluid">
    </div>
</div>

<div class="row row-space">
    <div class="col-10">

    </div>
    <div class="col-2">
        <a href="{% url 'website_contato' %}"><button type="button" class="btn btn-outline-success btn-lg " >Contratar</button></a>
        
    </div>
</div>

{% endblock main %}