.footer-website{
    bottom: 0;
    position: absolute;
}

.row-space {
    margin-top: 65px;
}

.img-moto{
margin-left: 80px;
}

.logo{
    width:550px;
    margin-right: 150px;
}

.titulo{
    margin-top: 80px;
    margin-left: 90px;
    font-size: 40px;
}

.subtitulo{
    margin-left: 380px;
}
.btnlogin{
    width: 240px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.esqueceu{
    font-family: 'Mansalva', cursive;
    margin-top: 30px;
}

.sistema{
    font-family: 'Mansalva', cursive;
    margin-top: 30px;
    margin-left: 240px;
}

.links{
    font-size: 30px;
    margin-top: 40px;
}

.spaceli{
    margin-top: 50px;
}
.txtlogin{
    font-family: 'Mansalva', cursive;
    margin-left: 250px;
    font-size: 50px;
}
.formulariol{
    margin:90px 0px 0 470px; 
}

@media only screen and (max-width: 600px) {
    /*body {
      background-color: lightblue;
    }*/
    .cm{
        font-size: 30px;
    }
    .logo{
        margin-left: 10px;
        width:90%;
        margin-right: 50px;
    }
    .img-moto{
        margin: 40px 0 40px 17%;
    }
    .footer-website{
        bottom: 0;
        position: absolute;
        margin-left: 80px;
        width: 100%;
    }
    .cspace{
        margin-top: 50px;
    }
    .mapa{
        width: 100%
    }
    .txtlogin{
        margin-left: 20px;
        font-size: 20px;
    }
    .formulariol{
        margin:90px 0px 0 30px; 
    }

    .sistema{
        margin-top: 30px;
        margin-left: -50px;
        font-size: 20px;
    }
    .hlink{
        font-size: 20px;
    }
    .btncsv{
        margin-top:5px;
    }
   .btncadastro{
       margin-bottom: 30px;
   }
   .titulosistema{
       font-size: 25px;
   }
   .sobre{
       font-size: 24px;
   }
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    /*  body{
          background-color: blueviolet
      } */
    .img-moto{
        margin-left: 1px;
        margin-top: 70px;
    }
    .footer-website{
        bottom: 0;
        position: absolute;
        width: 150%;
    }
    .logo{
        margin-left: 10px;
        width:90%;
        margin-right: 50px;
    }
    .lugar{
        margin-top: 250px;
        margin-left: 10px;
    }
    .planos{
        margin-top: 120px;
    }
    .btnplanos{
        margin-left: -15px;
    }
    .txtlogin{
        margin-left: 100px;
        margin-top: 100px;
        font-size: 40px;
    }
    .formulariol{
        margin:90px 0px 0 250px; 
    }
    .fspace{
        margin-top: 150px;
    }
    .sistema{
        margin-top: 30px;
        margin-left: -50px;
        font-size: 50px;
    }
    .mapa{
        width: 100%
    }
    }

    @media screen and (min-width: 800px) and (max-width: 1100px) {
       /* body{
            background-color: brown;
        }*/
        .footer{
            width: 100%;
        }
        .logo{
            width:100%;
            margin-right: 50px;
        }
        .img-moto{
            margin-left: 40px;
            margin-top: 30px;
        }
        .footer-website{
            bottom: 0;
            position: absolute;
            width: 100%;
        }
        .lugar{
            margin-top: 100px;
            margin-left: 150px;
        }
        .txtlogin{
            margin-left: 150px;
            margin-top: 100px;
            font-size: 50px;
        }
        .formulariol{
            margin:90px 0px 0 380px; 
        }
        .fspace{
            margin-top: 150px;
        }
        .sistema{
            margin-top: 30px;
            margin-left: 10px;
            font-size: 60px;
        }
        .spaceli{
            margin-top: 100px;
        }
        .mapa{
            width: 100%
        }
        .lugar{
            margin-top: 90px;
            margin-left: 10px;
        }
        .planos{
            margin-top: 30px;
        }
        .esqueceu{
            margin-left: 80px;
        }
    }